main {
    overflow-x: hidden;
    position: relative;
    // width: 100vw;
}

section {
    overflow-x: hidden;
}

.block-title {
    font-size: 64px;
    margin-bottom: 55px;
    font-weight: 700;
}

@media (max-width: 992px) {
    .block-title {
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    .block-title {
        font-size: 34px;
    }
}



*[id]:before {
    display: block;
    content: " ";
    margin-top: -120px;
    height: 120px;
    visibility: hidden;
    position: relative;

}

.animate__delay-1s {
    animation-delay: 1s;
}

.animate__delay-2s {
    animation-delay: 2s;
}

.animate__delay-3s {
    animation-delay: 3s;
}

.animate__delay-4s {
    animation-delay: 4s;
}

.animate__delay-5s {
    animation-delay: 5s;
}