main {
  overflow-x: hidden;
  position: relative;
  // width: 100vw;
}

section {
  overflow-x: hidden;
}

.block-title {
  font-size: 64px;
  margin-bottom: 55px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .block-title {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  .block-title {
    font-size: 34px;
  }
}

.list-custom {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #ff2400;
      top: calc(50% - 2.5px);
      left: 0;
    }
  }
}

#onas::before {
  margin-top: -200px;
  height: 200px;
}

#portfolio:before {
  margin-top: 0px;
  height: 0px;
}

.animate__delay-1s {
  animation-delay: 1s;
}

.animate__delay-2s {
  animation-delay: 2s;
}

.animate__delay-3s {
  animation-delay: 3s;
}

.animate__delay-4s {
  animation-delay: 4s;
}

.animate__delay-5s {
  animation-delay: 5s;
}

.btn-same-custom {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(237, 237, 237, 1);
  background: linear-gradient(
      180deg,
      rgba(93, 92, 92, 0.2) 19.38%,
      rgba(215, 215, 215, 0.179815) 100%
    ),
    linear-gradient(0deg, #ededed, #ededed),
    linear-gradient(0deg, #ffffff, #ffffff);
  color: #1d1e2c;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.max-width-new {
  max-width: 1276px;
}

@media (min-width: 1281px) and (max-width: 1299px) {
  .max-width-new {
    max-width: 1200px;
  }
}

@media (min-width: 1300px) {
  .max-width-new {
    max-width: 1276px;
  }
}

img {
  height: auto;
}

.img-new {
  width: auto;
  height: auto;
}

.special-list {
  margin-top: 23px;
  margin-bottom: 23px;
  &__box {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-size: 14px;
    text-align: start;
    &::before {
    content: '';
    display: block;
    margin-top: 6px;
    width: 7px;
    height: 7px;
    background-color: #0c63aa;
    border-radius: 50%;
    flex-shrink: 0;
  }
  }


}
