@font-face {
  font-family: 'YandexSansText';
  font-weight: 300;
  src: local('YandexSansText'),
    url('../fonts/YandexSansText-Light.woff2') format('woff2'),
    url('../fonts/YandexSansText-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'YandexSansText';
  font-weight: 400;
  src: local('YandexSansText'),
    url('../fonts/YandexSansText-Regular.woff2') format('woff2'),
    url('../fonts/YandexSansText-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'YandexSansText';
  font-weight: 500;
  src: local('YandexSansText-Medium'),
    url('../fonts/YandexSansText-Medium.woff2') format('woff2'),
    url('../fonts/YandexSansText-Medium.woff') format('woff');
  font-display: swap;
}
// @font-face {
//   font-family: 'YandexSansText';
//   font-weight: 600;
//   src: local('YandexSansText-SemiBold'),
//     url('../fonts/YandexSansText-SemiBold.woff2') format('woff2'),
//     url('../fonts/YandexSansText-SemiBold.woff') format('woff');
//   font-display: swap;
// }
@font-face {
  font-family: 'YandexSansText';
  font-weight: 700;
  src: local('YandexSansText-Bold'),
    url('../fonts/YandexSansText-Bold.woff2') format('woff2'),
    url('../fonts/YandexSansText-Bold.woff') format('woff');
  font-display: swap;
}
